<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activity 19 - Isabella Ramos</title>
</head>
<body>
  <h1> Isabella Ramos</h1>
  <form action="{{url_for('thankyou.html')}}" method="post">
    <fieldset>
      <legend>
       Collecting weight and height for BMI 
      </legend>
      <div style="margin: 1em;">
        <label for ="email"> Enter email: </label>
        <input type="email" id="email" placeholder="Enter an email address" name="email_address" required>
      </div>
      <div style="margin: 1em;">
        <label for ="height"> Enter height: </label>
        <input type="text" id="height" placeholder="Enter a height">
      </div>
      <div style="margin: 1em;">
        <label for ="weight"> Enter weight: </label>
        <input type="text" id="weight" placeholder="Enter a weight">
      </div>
      <div style="margin: 1em;">
        <button type="submit" name="button"> SUBMIT</button>
      </div>
    </fieldset>
  </form>
</body>
</html>