*{
  box-sizing: border-box;
}

h1{
  background-color: red;
}

.square{
  width: 200px;
  height: 200px;
  background-color: burlywood;
  transition: background-color 200ms, border-radius 1s;
}

.square:hover{
  border-radius: 50%;
  background-color: brown;
  
}

/*Simple animation */
.animation{
  width: 80%;
  height: auto;
  margin: auto;
  border: 1.5em ridge teal;
  position: relative;
  overflow: hidden;
}

.bus{
  width: 20%;
  height: auto;
  position: absolute;
  bottom: -8%;
  left: 0px;
  display: block;
  animation: slidebus 1s ease-in-out 800ms 3;
  animation-direction: alternate;
}

.bg{
  width: 100%;
  display: block;
}

@keyframes slidebus{
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(500%);
  }
}

.cloud1{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 10%;
  animation: slidecloud 5s infinite;
}

.gear{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 5%;
}

@keyframes slidecloud{
0%{
  transform: translate(0,0);
  opacity: 0.5;
}
20%{
  transform: translate(30%, 12%);
  width: 20%;
}
40%{
  transform: translate(110%, -2%);
  width: 5%;
}
60%{ transform: rotate(45deg);
width: 38%;
opacity: .9;
}
80%{
  transform: translate(260%, 3%);
}
100%{
  transform: translate(420%, -5%);
  opacity: 0.3;
}
}

.cloud2{
  position: absolute;
  width: 20%;
  top: -5%;
  left: -15%;
  animation: slidecloud 16s infinite;
}

.cloud3{
  position: absolute;
  width: 50%;
  top: 10%;
  right: 15%;
  animation: slidecloud 16s infinite;
}

/*rotate*/

.gear1{
  position: absolute;
  top: 20%;
  left: 10%;
  animation: rotategear 5s;
  width:  20%;
}

@keyframes rotategear {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(-90deg);
  }
}

.animation2{
  width: 80%;
  height: 600px;
  margin: auto;
  border: 1.5em ridge teal;
  position: relative;
  overflow: hidden;

}

.gear2{
  position: absolute;
  top: 50%;
  right: 30%;
  animation: zoom 5s;
  width:  50%;
}


@keyframes zoom {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(.5);
  }
}