body{
  width: 80%;
  margin: auto;
  background-color: lightgrey;
}

.animation{
  position: relative;
  width: 100%;
}

.bg{
  display: block;
  width: 100%;
  height: auto;
  animation: bg 1s ease-in-out 800ms 3;
  z-index: -1;
}

.camera{
  width: 10%;
  position: absolute;
  top: 30%;
  bottom: 30%;
  left: 45%;
  right: 45%;
  animation: camera 1s ease-in-out 800ms 1;
}

.title{
  margin: auto;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: fantasy;
  position: absolute;
  animation: title 4s ease-out 200ms 1;
  z-index: 1;
}


.heart1, .heart2, .heart3, .heart4, .heart5, .heart6, .heart7, .heart8, .heart9, .heart10, .heart11, .heart12 {
  position: absolute;
  animation: hearts 1s ease-in-out 800ms infinite;
}

.heart1{
  width: 5%;
  height: 5%;
  top: 5%;
  left: 5%;
  animation-name: heart1;
  animation-delay: 1s;
}
.heart2{
  width: 6%;
  height: 6%;
  top: 5%;
  left: 15%;
  opacity: 0.2;
  animation-name: heart2;
  animation-delay: 1.5s;
}
.heart3{
  width: 7%;
  height: 7%;
  top: 5%;
  left: 25%;
  opacity: 0.3;
  animation-name: heart3;
  animation-delay: 2s;
}
.heart4{
  width: 8%;
  height: 8%;
  top: 5%;
  left: 35%;
  opacity: 0.4;
  animation-name: heart4;
  animation-delay: 2.5s;
}
.heart5{
  width: 9%;
  height: 9%;
  top: 5%;
  left: 45%;
  opacity: 0.5;
  animation-name: heart5;
  animation-delay: 1s;
}
.heart6{
  width: 10%;
  height: 10%;
  top: 5%;
  left: 55%;
  opacity: 0.6;
  animation-name: heart6;
  animation-delay: 1s;
}

.heart7{
  width: 5%;
  height: 5%;
  bottom: 5%;
  right: 5%;
  opacity: 0.1;
  animation-name: heart7;
}
.heart8{
  width: 6%;
  height: 6%;
  bottom: 5%;
  right: 15%;
  opacity: 0.2;
  animation-name: heart8;
}
.heart9{
  width: 7%;
  height: 7%;
  bottom: 5%;
  right: 25%;
  opacity: 0.3;
  animation-name: heart9;
}
.heart10{
  width: 8%;
  height: 8%;
  bottom: 5%;
  right: 35%;
  opacity: 0.4;
  animation-name: heart10;
}
.heart11{
  width: 9%;
  height: 9%;
  bottom: 5%;
  right: 45%;
  opacity: 0.5;
  animation-name: heart11;
}
.heart12{
  width: 10%;
  height: 10%;
  bottom: 5%;
  right: 55%;
  opacity: 0.6;
  animation-name: heart12;
}

@keyframes title {
  0%{ 
    opacity: 0;
    top: 0;}
  100%{
    transform: scale(2); 
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 10%;
    top: 50%
  }

}
@keyframes bg {
  0%{filter: invert(0%);}
  100%{filter: invert(100%);}
  }
  
@keyframes camera {
  30%{transform: scale(0);}
  90%{transform: scale(1);}
  100%{transform: scale(5);}
}


@keyframes heart1 {
  0%{opacity: 0;}
  100%{opacity: .9;}
}

@keyframes heart2 {
  0%{opacity: 1;}
  100%{opacity: .1;}
}
@keyframes heart3 {
  10%{opacity: .8;}
  100%{opacity: .1;}
}
@keyframes heart4 {
  40%{opacity: .1;}
  80%{opacity: .8;}
}
@keyframes heart5 {
  90%{opacity: .5;}
  100%{opacity: .1;}
}
@keyframes heart6 {
  50%{opacity: .5;}
  100%{opacity: .1;}
}

@keyframes heart7 {
  0%{opacity: 0;}
  100%{opacity: .9;}
}

@keyframes heart8 {
  0%{opacity: 1;}
  100%{opacity: .1;}
}
@keyframes heart9 {
  10%{opacity: .8;}
  100%{opacity: .1;}
}
@keyframes heart10 {
  40%{opacity: .1;}
  80%{opacity: .8;}
}
@keyframes heart11 {
  90%{opacity: .5;}
  100%{opacity: .1;}
}
@keyframes heart12 {
  50%{opacity: .5;}
  100%{opacity: .1;}

}